body
  position: relative
  padding-top: 50px
  margin: 0

#page
  min-height: 600px
  background: #F0F0F0
  padding: 10px
  border: 1px solid #bbb
  +border-radius(3px)
  +box-shadow(#555 0 2px 3px 1px)

#body_content
  text-shadow: 0px 1px 1px white

h1#body_content_title
  margin-top: 0px
  padding-top: 0px
  margin-bottom: 5px
  font-size: 1.5em
  color: $sca1
  text-shadow: 1px 1px white

footer
  margin-top: 40px
  p
    font-size: 0.7em

dl
  clear: both

  dt
    float: left
    font-weight: bold
    text-align: right
    width: 160px

  dd
    margin-left: 175px

  dd p:first-child
    margin-top: 0
